.wrapper {
    max-width: 700px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom: 0;
    margin: auto;
}

.card-divider {
    border-top: 1px solid rgba(0,0,0,.125);
    height: 1px;
}