{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Join room</h1>
    <form action="{% url 'room_join' %}" method="post">
        {% csrf_token %}
        {{ room_join_form|crispy }}
        <button type="submit" class="btn btn-success">Join a room</button>
    </form>

    <h1>Create room</h1>
    <form action="{% url 'room_create' %}" method="post">
        {% csrf_token %}
        {{ room_create_form|crispy }}
        <button type="submit" class="btn btn-success">Create a room</button>
    </form>

    <a href="{% url 'spotify_logout' %}">Log out</a>
{% endblock content %}